/*-- scss:defaults --*/
// Base document colors
$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default;   // #333
$navbar-bg: $gray-dark;
